.article {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.article > h2 {
  margin: 0;
  border-bottom: solid 4px #264653;
  padding-bottom: 6px;
}

.chips {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
