.container {
  display: flex;
  align-items: center;
  column-gap: 5px;
  font-size: 12px;
  font-weight: 400;
}

.icon {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  padding: 2px;
}

.container:nth-of-type(2) .icon {
  padding: 4px;
}

.icon svg {
  overflow: visible;
  width: 100%;
  height: 100%;
  stroke: #264653;
  color: #264653;
}
